fastapi
uvicorn[standard]
google-auth-oauthlib
google-auth
google-api-python-client
torch
torchvision
clip-by-openai
ultralytics
opencv-python
Pillow
numpy
pydantic
python-multipart
PyPDF2
reportlab
openai
python-docx
python-pptx
